{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.{md,mdx}",
      "options": {
        "proseWrap": "preserve",
        "htmlWhitespaceSensitivity": "strict",
        "embeddedLanguageFormatting": "auto",
        "printWidth": 999,
        "singleQuote": false
      }
    }
  ]
}
