/* for html ol - use with className vocs_List vocs_List_ordered */
/* General list styling */
ol, ul {
  margin: 0 0 1.5em 1.5em;  /* Bottom margin and left padding */
  padding: 0;
  line-height: 1.6;  /* Line height for readability */
}

/* List items */
ol li, ul li {
  margin: 0.5em 0;  /* Space between list items */
}

/* Nested text within list items */
ol li p, ul li p {
  margin: 0.5em 0 0 0;  /* Space around paragraphs within list items */
  line-height: 1.6;  /* Ensuring same line height */
}

/* Additional spacing for nested lists */
ol ol, ol ul, ul ol, ul ul {
  margin: 0 0 1.5em 1.5em;  /* Bottom margin and left padding */
}

/* for html int links add className="vocs_Anchor vocs_Link vocs_Link_accent_underlined" */

/* for html ext links add className="vocs_Anchor vocs_Link vocs_Link_accent_underlined vocs_ExternalLink" */
