/* Base style for an html external link */
.ext-link {
  color: var(--theme-accent-color); /* Use Vocs theme variable */
  text-decoration: underline; /* Underline the link */
  position: relative; /* To position the arrow */
  padding-right: 1.2em; /* Space for the arrow */
  display: inline-flex; /* Align items within the link */
  align-items: center; /* Vertically center the content */
}

/* Style for the html external link arrow */
.ext-link::after {
  content: '↗'; /* Unicode character U+2197 */
  margin-left: 0.2em; /* Space between text and arrow */
  font-size: 0.8em; /* Size proportionally smaller */
  vertical-align: middle; /* Align the arrow vertically */
}

/* Base style for an html internal link */
.int-link {
  color: var(--theme-accent-color); /* Use Vocs theme variable */
  text-decoration: underline; /* Underline the link */
  position: relative; /* To position the arrow */
  padding-right: 1.2em; /* Space for the arrow */
  display: inline-flex; /* Align items within the link */
  align-items: center; /* Vertically center the content */
}
