ul.TabbedList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --vocs_ExternalLink_iconUrl: url(/.vocs/icons/arrow-diagonal.svg);
}

ul.TabbedList a {
  display: flex;
  align-items: center;
}

ul.TabbedList small {
  display: block;
  line-height: var(--vocs-lineHeight_paragraph);
}

ul.TabbedList .vocs_Paragraph {
  margin: 0;
}

small + ul.TabbedList {
  margin-top: 1rem;
}
